
body{
    background-color: rgb(139, 128, 205);
    color: rgb(205, 8, 15);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 50px;
    border: double  5px rgb(118, 73, 186);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}